:root {
  --main---pink: #d658b3;
  --main---green: #45b442;
  --base---white: #ffffff;
  --base---gray-100: #f4f1f2;
  --base---gray-200: #e9e7e9;
  --base---gray-300: #dfdcdf;
  --base---gray-400: #cecacd;
  --base---gray-500: #756c71;
  --base---gray-600: #4a4448;
  --base---gray-700: #332b31;
  --gradient-base: linear-gradient(
    90deg,
    #2daa6e 0%,
    #2daaaa 33.33%,
    #856ccf 66.67%,
    #d658b3 100%
  );

  --ff-sans: "Oxygen", sans-serif;

  --fs-heading---title--md: 1.5rem;
  --fs-heading---title--sm: 1.125rem;
  --fs-heading---subtitle--md: 0.875rem;
  --fs-heading---subtitle--sm: 0.75rem;
  --fs-body---text--md: 1rem;
  --fs-body---text--sm: 0.875rem;
  --fs-body---text--xs: 0.75rem;

  --fw-base: 400;
  --fw-bold: 700;

  --line-height-base: 140%;

  --space-none: 0;
  --space-min: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 0.75rem;
  --space-base: 1rem;
  --space-lg: 1.25rem;
  --space-xl: 1.5rem;
  --space-2xl: 2rem;
  --space-3xl: 4rem;

  --border-radius-min: 8px;
  --border-radius-xs: 10px;
  --border-radius-sm: 12px;
  --border-radius-md: 16px;
  --border-radius-lg: 20px;
  --border-radius-full: 999px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: var(--space-none);
  padding: var(--space-none);
  font: inherit;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  font-family: var(--ff-sans);
  font-weight: var(--fw-base);
  font-size: var(--fs-body---text--md);
  line-height: var(--line-height-base);
  color: var(--base---gray-500);

  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  background-color: var(--base---gray-200);
  overflow-x: hidden;
}

main {
  margin-block: var(--space-lg);

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: var(--space-sm);

  @media (min-width: 62em) {
    display: grid;
    align-items: start;
    align-content: stretch;
    grid-template-columns: 20rem 35.5rem;
    grid-template-rows: 5.625rem 1fr 7.313rem;

    column-gap: var(--space-xl);
    row-gap: var(--space-base);
  }
}

ul[role="list"] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  display: inline-block;
}

.container {
  --max-width: 350px;
  width: min(var(--max-width), 100% - var(--space-md) * 2);
  margin-inline: auto;
}

@media (width >= 62em) {
  .container {
    --max-width: 912px;
  }
}

.container-main {
  display: flex;
  align-items: center;
  width: 100%;

  background-color: var(--base---gray-100);
  border: 1px solid var(--base---gray-300);
  border-radius: var(--border-radius-md);
}

.title-md {
  font-size: var(--fs-heading---title--md);
  font-weight: var(--fw-bold);
  color: var(--base---gray-600);
}

.title-sm {
  font-size: var(--fs-heading---title--sm);
  font-weight: var(--fw-bold);
  color: var(--base---gray-600);
}

.subtitle-md {
  font-size: var(--fs-heading---subtitle--md);
  font-weight: var(--fw-bold);
}

.subtitle-md {
  font-size: var(--fs-heading---subtitle--md);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

.subtitle-sm {
  font-size: var(--fs-heading---subtitle--sm);
  font-weight: var(--fw-bold);
  text-transform: uppercase;
}

.text-md {
  font-size: var(--fs-body---text--md);
  font-weight: var(--fw-base);
}

.text-sm {
  font-size: var(--fs-body---text--sm);
  font-weight: var(--fw-base);
}

.text-xs {
  font-size: var(--fs-body---text--xs);
  font-weight: var(--fw-base);
}
