* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Oxygen", sans-serif;
  --main---pink: #d658b3;
  --main---green: #45b442;
  --base---white: #ffffff;
  --base---gray-100: #f4f1f2;
  --base---gray-200: #e9e7e9;
  --base---gray-300: #dfdcdf;
  --base---gray-400: #cecacd;
  --base---gray-500: #756c71;
  --base---gray-600: #4a4448;
  --base---gray-700: #332b31;
  --gradient-base: linear-gradient(90deg, #2DAA6E 0%, #2DAAAA 33.33%, #856CCF 66.67%, #D658B3 100%)

  --heading---title--md: 1.5rem;
  --heading---title--sm: 1.125rem;
  --heading---subtitle--md: 0.875rem;
  --heading---subtitle--sm: 0.75rem;
  --body---text--md: 1rem;
  --body---text--sm: 0.875rem;
  --body---text--xs: 0.75rem;
}
