.loyalty-card-info {
  flex-direction: column;
  gap: var(--space-lg);
  padding: var(--space-lg);

  & .card-heading {
    display: flex;
    align-items: center;
    gap: var(--space-base);

    & .card-info {
      display: flex;
      flex-direction: column;
      gap: var(--space-min);
    }

    & .card-id {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: var(--space-min) var(--space-sm);

      border-radius: var(--border-radius-full, 999px);
      background: var(--base---gray-300);

      & p {
        width: 6.688rem;
      }
    }
  }

  & .card-points {
    display: grid;
    justify-content: center;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: var(--space-sm);
    width: 100%;

    @media (min-width: 22.5em) {
      grid-template-columns: repeat(5, 1fr);
    }

    & .item-check {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 3.5rem;
      height: 3.5rem;
      padding: var(--space-sm);

      border-radius: var(--border-radius-sm);
      background: var(--base---gray-200);
    }
  }
}
